html, body {
    height: 100%;
}
#container{   
    min-width: 80%;
    max-width: 90%;
    height: 80%;
    margin: 2% auto 0% auto;
    font-size: 4.0em;
}

#container .head-tab{
    height: 10%;
}

#container .rooms-title{
    border: rgba(110, 110, 1100, 0.21) 2px solid;
    background-color: aliceblue;
}

#container .selected{
    border: rgba(110, 110, 1100, 0.21) 2px solid;
    background-color:#a8cbe9;
}


#container .slide{
    border: solid 2px darkcyan;
    height: 99%;
    display: none;
    background-color:rgba(210, 222,200,0.21)
}

#container .slide:first-child{
    display: block
}


#container .chatClient{
    text-align: center;
    background-color:snow
}


#container  #msgContent{
    min-height: 25%;
    max-height: 30%;
    overflow-y: auto;
    font-size: 0.25em;
}

#container  #inputContent{
    width: 99.5%;
    font-size: 1.2em;
}

#container  #btnSend{
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
}

#container #tools{   
    border: solid 2px papayawhip
}

#container #tools input{
    font-size: 1em;
}


#allClients  li.me {   
    background-color:silver
}

#allClients  li.selected {
    background-color:cornflowerblue
}

#videoContent video{
    width:40%;
    height:300px;
    background:#000;
}
